<router-outlet></router-outlet>

<div class="card mat-card" id="first-card">
  
  <div id="profile-background"><img src="https://d3jh33bzyw1wep.cloudfront.net/s3/W1siZiIsIjIwMTkvMTEvMjEvMTIvMDYvMjcvMzIvc2h1dHRlcnN0b2NrXzE0OTg3NDI1MTkuanBnIl0sWyJwIiwidGh1bWIiLCI4MDB4NDUwIyJdXQ" alt="background"></div>
  <div id="info" style="padding: 16px">
    <div id="info-img">
      <img src="https://media-exp1.licdn.com/dms/image/C4E03AQGodiK4kYlElQ/profile-displayphoto-shrink_800_800/0/1550861438167?e=1648080000&v=beta&t=5P_tKTwehU5wYfkhylr46DO84kXyExRZIX_l6JNHSyI" alt="fotoperfil">
      <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
    </div>

    <div id="info-data">
      <div>
        <h1>Leandro N Planas</h1>
        <div id="info-company">"Motwi Engineer"</div>
        <div id="info-contact">
          <span>Buenos Aires (Argentina)</span><br>
          <span><a href="#">Informacion  de Contacto</a></span>
        </div>
      </div>
    <ul id="info-details">
      <li><a href="#"></a>
      </li>
    </ul>
    
    </div>
  </div>
</div>

<div class="card mat-card">
  <div class="card-titles">
    <h2>Acerca de</h2>
    <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
  </div>
  <div>Ingeniero mecanico, con experiencia en industrias automotriz y Oil & Gas. Eterno curioso y estudiante de programacion y cryptomonedas</div>

</div>

<div class="card mat-card"> 
  <div id="experience">
    <div class="card-titles">
      <h2>Experiencia</h2>
      <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-plus"></i></a></div>
    </div>
    <div>
      <ul class="item-list">
        <li>Motwi IoT Engineer</li>
        <li>Nissan</li>
        <li>Ipac Argentina S.A</li>
        <li>Volkswagen Argentina</li>
      </ul>
    </div>
  </div>
</div>