<router-outlet></router-outlet>

<div class="card mat-card" id="first-card">

  <!--No se porque si voy a styles y cambio el .profile-image que no cambia nada por info-img no toma el stilo. le agregue aca mismo el style al menos por ahiira-->


  <div id="profile-background"><img src="https://d3jh33bzyw1wep.cloudfront.net/s3/W1siZiIsIjIwMTkvMTEvMjEvMTIvMDYvMjcvMzIvc2h1dHRlcnN0b2NrXzE0OTg3NDI1MTkuanBnIl0sWyJwIiwidGh1bWIiLCI4MDB4NDUwIyJdXQ" alt="background"></div>
  <div id="info" style="padding: 16px">
    <div id="info-img">
      <img src="https://i.postimg.cc/Bnwfzp2r/20211210-111539.jpg" alt="fotoperfil" style="border-radius: 75%; width: 242px; height: 252px; margin-top: -210px; z-index: 1;">
      <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
    </div>

    <div id="info-data">
      <div>
        <h1>Leandro N Planas</h1>
        <div id="info-company">"Motwi Engineer"</div>
        <div id="info-contact">
          <span>Buenos Aires (Argentina)</span><br>
          <span><a href="#">Informacion  de Contacto</a></span>
        </div>
      </div>
    <ul id="info-details"> <!-- OJO QUE ACA VAN IMAGENES QUE NO SE DE DONDE DIABLOS LAS LLAMA -->
      <li><a href="#"> 
        <img src="fotodeUTN" alt="foto-utn">
        <h2>UTN</h2>
      </a></li>
      <li><a href="#">
        <img src="fotodeUADE" alt="Foto-uade">
        <h2>UADE</h2>
      </a></li>
    </ul>

    </div>
    <div id="info-actions">
      <button class="btn btn-primary" type="button">Tengo Interes en</button>
      <button class="btn btn-light" type="button">Añadir Seccion</button>
      <button class="btn btn-light" type="button">Mas</button>
    </div>
  </div>
</div>

<div class="card mat-card">
  <div class="card-titles">
    <h2>Acerca de</h2>
    <div class="btn-edit" onclick="cambiar_parrafo()">
      <a href="#" class="btn-right">
        <i class="fa fa-pen"></i></a></div>
  </div>
  <div><p id="acercade">Ingeniero mecanico, con experiencia en industrias automotriz y Oil & Gas. Eterno curioso y estudiante de programacion y cryptomonedas</p>
  </div>
  <div>
    <!--<input type="text" id="edit-acercade" oninput="myfunction2(this.value)" style="display: none;">-->
  </div>
</div>

<div class="card mat-card"> 
  <div id="experience">
    <div class="card-titles">
      <h2>Experiencia</h2>
      <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-plus"></i></a></div>
    </div>
    <div>
      <ul class="item-list">
        <li>Motwi IoT Engineer</li>
        <li>Nissan</li>
        <li>Ipac Argentina S.A</li>
        <li>Volkswagen Argentina</li>
        
      </ul>
    </div>
  </div>
</div>

<div class="card mat-card">
  <div class="card-titles">
    <h2>Aptitudes y validaciones</h2>
    <button class="btn btn-light" type="button">Añadir Aptitud Nueva</button>
    <button class="btn btn-light" type="button">Hacer un Test de Aptitudes</button>
    <div class="btn-edit"><a href="#" class="btn btn-right"><i class="fa fa-pen"></i></a>
    </div>
  </div>
</div>

<div class="card mat-card">
  <div class="card-titles">
    <h2>Logros</h2>
    <div class="btn-edit">
      <a href="#" class="btn-right"> <i class="fa fa-pen"></i></a>
    </div>
  </div>
  <div class="achivements">
    <h3>53</h3>
  </div>
  <div class="project-title">
    <h3>Proyectos</h3>
  </div>
  <div>
    <ul class="project-list">
      <li>Sarasa 1</li>
      <li>Sarasa 2</li>
    </ul>
  </div>
</div>