<div class="card mat-card">
    <div class="card-titles">
      <h2>Logros</h2>
      <div class="btn-edit">
        <a href="#" class="btn-right"> <i class="fa fa-pen"></i></a>
      </div>
    </div>
    <div class="achivements">
      <h3> <ul class="project-list">
        <li>--</li>
        <li>--</li>
      </ul></h3>
    </div>
    <div class="project-title">
      <h3>Proyectos</h3>
    </div>
    <div>
      <ul class="project-list">
        <li>Argentina Programa - Portfolio Web</li>
        <li>UTN Ing. Mecanica - Horno de Secado</li>
      </ul>
    </div>
  </div>
