
<div class="card mat-card">
    <div class="card-titles">
      <h2>Acerca de</h2>
      <div class="btn-edit" onclick="cambiar_parrafo()">
        <a href="#" class="btn-right">
          <i class="fa fa-pen"></i></a></div>
    </div>
    <div><p id="acercade">Ingeniero mecanico, con experiencia en industrias automotriz y Oil & Gas. Eterno curioso y estudiante de programacion y cryptomonedas</p>
    </div>
    <div>
      <input type="text" id="edit-acercade" oninput="myfunction2(this.value)" style="display:none">
    </div>
  </div>
