<div class="card mat-card">
  <div class="card-titles2">
    <div class="card-container">
      <h2>Aptitudes y Eduacion</h2>
      <a href="#" class="btn btn-right"><i class="fa fa-pen"></i></a>
      
    </div>
    
      
       <ul class="item-list">
          <li>2022 - Jr. Full Stack Dev (Argentina Programa)</li>
          <li>2019 - Curso de Marketing (UADE)</li>
          <li>2017 - Ingeniero Mecanico (UTN)</li>
        </ul> 
      
      <div class="botonesaptitudes">
        <button class="btn btn-light" type="button" >Añadir Aptitud o Educacion Nueva</button>
        <button class="btn btn-light" type="button">Hacer un Test de Aptitudes</button>
      </div>
        
  </div>
</div>
